header{
    position: sticky;
    top: 1px;
    left: 0;
    right: 0;
    width: 100%;    
}
body{
    margin: 0 !important;

}


#logo{
    background-color:white;
    width: 40%;
    height: 15%;
    position: relative;
    float: left;
    right: 0;
    margin: 0;
    
}
#menu{
    background-color:white;
    
    font-family: 'Gilory', sans-serif;
    text-align: center;

    width: 45%;
    height: 15%;
    float: left;
    position: relative;
    right: 0;
    margin: 0;
    
    
}

 h2{
     color: black;
     width: 20%;
     float: left;
     font-family: 'Gilory', sans-serif;
     text-align: center;
 }


/* 
 a:hover {
    font-size: large;
    width: 90%;
  } */




 #social_media{
    background-color:white;
     float: right;
     width: 15%;
     height: 15%;
 }
 .foto_index{

    object-fit: contain;
    right: 0;
    margin: 0;
    

 }
 .container {
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    position: relative;
    -webkit-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
    top: 50%;
    bottom: 50%;
    left: 50%;
  }

  .block {
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-family: "Roboto", sans-serif;
  }
  .block .citation {
     
    font-size: 20px;
    line-height: 100px;
  }
  .block .author {
    font-family: 'Gilory Light', sans-serif;
    color: #838eca;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    line-height: 35px;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
    opacity: 0;
  }
.fourth{
    margin-top: 3%;
    margin-bottom: 3%;
}
  
  .fourth .author {
    opacity: 0;
    color: #bf1f5d;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  .fourth:hover .citation {
    opacity: 0;
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  .fourth:hover .author {
    opacity: 1;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  
 footer{
     right: 10%;
     left:10%;
     height: 15%;
     font-family: 'Gilory', sans-serif;
     text-align: center;
     color: black
 }
 #mail{
    height: 15%;
     width: 50%;
     float: left;
 }

 #telefon{
    height: 15%;
    width: 50%;
    float: left;
 }

 .foto{
     
     padding: 5%;
 }

 #onas_tlo
    { 
        background-image: url("pictures/tlo2.jpg" );
     }

     #caloskoncerty{
        background-image: url("pictures/tlo3.jpg" );
    }  

#caloskontakt{

    background-image: url("pictures/tlo1.jpg" );

  
}  
#srodek_koncert{
    margin-top: 1%;
    margin-bottom: 3%;
    background-color:rgba(240, 228, 237, 0.804);
    padding: 1%;
    height: 100%;
    width: 98%;
}
#koncert1{
    height: 70%;
}
   
#caloscsdm{
    background-image: url("pictures/tlo4.jpg" );

}
#calosc_zespol{
    background-image: url("pictures/tlo5.jpg" );
}

.left{

    width: 40%;
    height: 50%;
    float: left;
    
    
}
.right{
    width:50%;
    float: right;
    height: 50%;
   
}
.gallery2{
   margin: 12%;
    height: 50%;
    width: 100%;
}



.tekst{
    background-color:rgba(173, 75, 152, 0.281);
    padding-top: 12%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 10%;
    height: 100%;
    widows: 70%;
}
.opacity{
    background-color:rgba(173, 75, 152, 0.281);
    padding-top: 12%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    height: 3800px;
    widows: 1357px;
}
 .srodek{
     margin-top: -3%;
     margin-bottom: 3%;
     background-color:rgba(240, 228, 237, 0.804);
     padding: 3%;
     height: 100%;
     width: 98%;
     font-family: 'Gilory', sans-serif;
     
 }

 form{
     text-align: center;
     
     
 
    }



 .rectangle2{
    font-family: 'Bellota Text', cursive;
    font-size:17px;
    text-align: center;
    color:gray;
    padding: 2%;

}

 table{
     
     margin-top: 5%;
     margin-left: 15%;
     margin-right: 15%;
     font-family: 'Gilory', sans-serif;
     font-weight: 600;
     text-align: center;
     width: 70%;
     
    
 }


 tr{
 
     font-family: 'Gilory', sans-serif;
     position: relative;
     text-align: center;
     height: 200px;
     
    
 }
 td{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    
    
 }

   

 #article
 {
    margin-top: -7%;
    position: relative;
    white-space: pre-wrap;
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    
 }

 #sdm{
     
    background-image: url(pictures/koncert_sdm.png);
   
 }

 #fmt{
     
    background-image: url(pictures/fmt.jpg);
 }
 #kato{
     
    background-image: url(pictures/kato.jpg);
}
#sadecki_diament{
     
    background-image: url(pictures/sadecki_diament.jpg);
}
#galowy{
    background-image: url(pictures/nowy_sacz_styczen.jpg);
}
#krakow_uj_2018{
    
    background-image: url(pictures/mimo_wszystko.jpg);
}
#one_heart_festiwal{
    background-image: url(pictures/one_heart_festiwal.jpg);
}
#patriotyczny{
    background-image: url(pictures/patriotyczny.jpg);

}
#garda_1{
    background-image: url(pictures/grudzien_2019.jpg);

}
#garda_2{
    background-image: url(pictures/maj_2019.jpg);

}
#krakow_uj_2019{
    background-image: url(pictures/czerwiec_2019.jpg);

}
#krakow_styczen_2020{
    background-image: url(pictures/styczen_2020.jpg);
}

#nowy_sacz_marzec{
    background-image: url(pictures/marzec_2020.jpg);

}
#ksiezniczka{
    background-image: url(pictures/ksiezniczka.jpg);

}
#wirus{
    background-image: url(pictures/wirus.jpg);

}
#rmf{
    background-image: url(pictures/rmf.jpg);

}



.gallery-content {
    font-size: 0;
    letter-spacing: 0;
    line-height: 0;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .gallery-content a {
    background: no-repeat center / cover;
    border: 3px solid #737c85;
    display: inline-block;
    height: 60%;
    margin:5%;
    width: 60%;
  }
  
  .gallery-content a:hover {
    border-color: #ffc000;
  }
  
  .compsoul-gallery-mask {
    background: rgba(0, 0, 0, 0.8);
    display: none;
    height: 100vh;
    left: 0rem;
    position: fixed;
    top: 0rem;
    width: 100vw;
    z-index: 999;
  }
  
  .compsoul-gallery-mask.active {
    display: block;
  }
  
  .compsoul-gallery-mask-before {
    height: 100vh;
    left: 0rem;
    position: fixed;
    top: 0rem;
    width: 100vw;
  }
  
  .compsoul-gallery-mask-before-button {
    background: #000;
    content: "";
    cursor: pointer;
    height: 4vw;
    right: 0rem;
    position: fixed;
    top: 0rem;
    width: 4vw;
    z-index: 1;
  }
  
  .compsoul-gallery-mask-before:after {
    color: #fff;
    content: "\f105\f104";
    cursor: pointer;
    font-family: "FontAwesome";
    font-size: 2vw;
    letter-spacing: -0.1875rem;
    line-height: 2vw;
    right: 2vw;
    position: fixed;
    top: 2vw;
    transform: translate(50%, -50%);
    z-index: 1;
  }
  
  .compsoul-gallery img {
    border: 0;
    clip: rect(0 0 0 0);
    height: 0.0625rem;
    margin: -0.0625rem; 
    overflow: hidden; 
    padding: 0;
    position: absolute; 
    width: 0.0625rem;
  }
  
  .compsoul-gallery .gallery-comment {
    background: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    bottom: 0;
    color: #fff;
    padding: 10px;
    position: absolute;
    width: 100%;
  }
  
  .compsoul-gallery-prev, .compsoul-gallery-next {
    background: #000;
    cursor: pointer;
    font-size: 0;
    height: 4vw;
    letter-spacing: 0;
    line-height: 0;
    right: 0rem;
    overflow: hidden;
    position: fixed;
    text-indent: 100%;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    width: 4vw;
    z-index: 1;
  }
  
  .compsoul-gallery-prev {
    left: 0rem;
  }
  
  .compsoul-gallery-prev:before, .compsoul-gallery-next:before {
    display: block;
    color: #fff;
    content: "\f105";
    font-family: "FontAwesome";
    font-size: 2vw;
    line-height: 4vw;
    height: 4vw;
    text-align: center;
    text-indent: initial;
    width: 4vw;
  }
  
  .compsoul-gallery-close:after {
    float: left;
    margin-left: 0.1875rem;
    text-align: right;
    width: 2vw;
  }
  
  .compsoul-gallery-prev:before {
    content: "\f104";
  }
  
  .compsoul-gallery-first-element, .compsoul-gallery-second-element {
    background: no-repeat center / cover;
    left: 50%;
    max-height: 90vh;
    max-width: 90vw;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.4s;
  }
  
  .compsoul-gallery-first-element.active {
    animation: active linear 0.4s forwards;
  }
  
  .compsoul-gallery-first-element.next, .compsoul-gallery-second-element.next {
    animation: next-of linear 0.4s forwards;
  }
  
  .compsoul-gallery-first-element.prev, .compsoul-gallery-second-element.prev {
    animation: prev-of linear 0.4s forwards;
  }
  
  .compsoul-gallery-first-element.next.active, .compsoul-gallery-second-element.next.active {
    animation: next linear 0.4s forwards;
  }
  
  .compsoul-gallery-first-element.prev.active, .compsoul-gallery-second-element.prev.active {
    animation: prev linear 0.4s forwards;
  }
  
  .compsoul-gallery-loader {
    opacity: 0;
  }
  
  .compsoul-gallery-loader.active {
    animation: active linear 0.4s forwards 0.4s;
  }
  
  .compsoul-gallery-loader.none {
    animation: none;
    transition: opacity 0.4s;
  }
  
  .compsoul-gallery-loader:before, .compsoul-gallery-loader:after {
    animation: turn linear 1s infinite;
    border: solid #fff;
    border-radius: 100%;
    content: "";
    display: block;
    height: 2rem;
    left: 50%;
    margin: -1rem 0 0 -1rem;
    position: fixed;
    top: 50%;
    width: 2rem;
  }
  
  .compsoul-gallery-loader:before {
    border-width: 0 0.125rem 0.125rem 0;
  }
  
  .compsoul-gallery-loader:after {
    animation-direction: reverse;
    border-width: 0.125rem 0 0 0.125rem;
    height: 4rem;
    margin: -2rem 0 0 -2rem;
    width: 4rem;
  }
  
  @keyframes active {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    } 
  }
  
  @keyframes next {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    } 
  }
  
  @keyframes next-of {
    0% {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
    100% {
      opacity: 0;
      transform: translate(-100%, -50%);
    }
  }
  
  @keyframes prev {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    } 
  }
  
  @keyframes prev-of {
    0% {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
    100% {
      opacity: 0;
      transform: translate(0%, -50%);
    } 
  }
  
  @keyframes turn {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    } 