header{
    position: sticky;
    top: 1px;
    left: 0;
    right: 0;
    width: 100%;    
}
body{
    margin: 0 !important;

}


#logo{
    background-color:white;
    width: 40%;
    height: 15%;
    position: relative;
    float: left;
    
    right: 0;
    margin: 0; 
}
@media(max-width: 1300px)
{#logo{
  width: 100%;
}
}
@media( max-width: 768px){
  #logo{
  width:100%;
 
  }

}

#menu{
    background-color:white;
    
    font-family: 'Gilory', sans-serif;
    text-align: center;

    width: 45%;
    height: 15%;
    float: left;
    position: relative;
    right: 0;
    margin: 0;
     
}


@media(max-width: 1300px)
{
  #menu{
    width: 85%;
    height: 10%;
    font-size: 14px;
  }
}
@media( max-width: 475px)
{
  #menu{
    width: 85%;
    height: 10%;
    font-size: 14px;
  }
}
@media( max-width: 411px)
{
  #menu{
    width: 85%;
    height: 10%;
    font-size: 14px;
  }
}



@media(max-width: 600px){
 #menu h2{
   font-size: 15px;
   margin:3%;
   width:auto;
 }
}





 h2{
  
     color: black;
     width: 20%;
     float: left;
     font-family: 'Gilory', sans-serif;
     text-align: center;
 }
 @media(max-width: 600px){
  h2{
    font-size: 15px;
    margin:3%;
    width:auto;
  }
 }



 #social_media{
    background-color:white;
     float: right;
     width: 15%;
     height: 15%;
 }
 #social_media img{
   margin-top: 4%;
 }


 
 @media(max-width: 1300px)
{
  #social_media{
  
  height: 10%;
  }
}


@media(max-width: 901px)
{
  #social_media img{
    width: 25%;
  }
}
@media( max-width: 475px)
{
  #social_media{
    height: 10%;
  }
}
@media( max-width: 411px)
{
  #social_media{
    height: 10%;
  }
}
.powrot{
  width: 70%;
}

@media(max-width:603px){
  .powrot{
    width: 20%;
    height: auto;
  }
}
@media(max-width:555px){
  .powrot{
    width: 10%;
    height: auto;
  }
}
@media(max-width:400px){
  .powrot{
    width: 7%;
    height: auto;
  }
}
 footer{
   margin-top: 1%;
     right: 10%;
     left:10%;
     height: auto;
     font-family: 'Gilory', sans-serif;
     text-align: center;
     color: black
 }

 #mail{
    height: 15%;
     width: 50%;
     float: left;
 }
 @media(max-width:900px){
   #mail h3{
     font-size: 14px;
   }
 }
 @media(max-width:400px){
  #mail {
    width: 100%;
    display: inline-block;

  }
}

 #telefon{
    height: 15%;
    width: 50%;
    float: left;
 }
 @media(max-width:400px){
  #telefon {
    width: 100%;
    display: inline-block;

  }
}
 @media(max-width:900px){
  #telefon h3{
    font-size: 14px;
  }
}

 .foto{
     
     padding: 5%;
 }

 #onas_tlo
    { 
        background-image: url("pictures/tlo2.jpg" );
     }

     #caloskoncerty{
        background-image: url("pictures/tlo3.jpg" );
    }  

#caloskontakt{

    background-image: url("pictures/tlo1.jpg" );

  
}  
#calosc_serwis{
  background-image: url("pictures/tlo6.jpg" );
  padding-top: 7%;
  
}
@media(max-width:900px){
  #calosc_serwis{
    font-size: 14px;;
  }
}
#srodek_koncert{
    margin-top: 1%;
    margin-bottom: 3%;
    background-color:rgba(240, 228, 237, 0.804);
    padding: 1%;
    width: 98%;
}
@media(max-width: 450px)
{
  #srodek_koncert{
    width: 120%;
   
  }
}


 #koncert1{
    height: 75%;
    
 }
 @media(max-width: 1275px)
 {
   #koncert1{
     height:60%;
     
    
   }
 }

 @media(max-width: 901px)
{
  #koncert1{
    height: 90%;
   
  }
}
#koncert_pazdiernik{
  height: 75%;
}


 @media(max-width: 1300px)
{
  #koncert_pazdiernik{
    height: 115%;
   
  }
}

@media(max-width: 900px)
{
  #koncert_pazdiernik{
    height: 115%;
   
  }
}
@media(max-width: 750px)
{
  #koncert_pazdiernik{
    height: 107%;
   
  }
}




iframe{
width: 560px;
height: 315px;
margin: 2%;
}

@media(max-width: 1550px)
{
  iframe{
    width: 445px;
    height: 250px;
  }
}
@media(max-width: 1275px)
{
  iframe{
    width: 395px;
    height: 200;
  }
}




@media(max-width: 776px)
{
  iframe{
    width: 395px;
    height: 200;
  }
}
@media(max-width: 700px)
{
  iframe{
    width: 245px;
    height: 150;
  }
}
   
@media(max-width: 404px)
{
  iframe{
    width: 195px;
    height: 100;
  }
}
@media(max-width: 330px)
{
  iframe{
    width: 165px;
    height: 70;
  }
}
@media(max-width: 300px)
{
  iframe{
    width: 135px;
    height: 40;
  }
}
 
#dyrygent{
  margin-bottom: 3%;
  height: 30%;
}
@media(max-width: 1515px){
  #dyrygent {
    height: 35%;
  }
}
@media(max-width: 1375px){
  #dyrygent {
    height: 40%;
  }
}
#dyrygent img{
  margin-right: 5%;
margin-top: -3%;
 float: right;
 width: 25%;
 height: auto;
}
.naglowek{
  margin-top: -2%;
}

#wokale{
  margin-top:3%;
  height:auto;
}

#smyczki{
  margin-top:3%;
  height:auto;
}

#flety{
  margin-top:3%;
  height:auto;
}
#sekcja{
  margin-top:3%;
  height:auto;
}



#pomoc{
  margin-top:3%;
  height:auto;
} 
   
.caloscsdm{
    background-image: url("pictures/tlo4.jpg" );

}
#calosc_zespol{
    background-image: url("pictures/tlo5.jpg" );
}

.left{

    width: 40%;
    height: auto;
    float: left; 
}

@media(max-width: 1300px)
{
  .left{
    width: 80%;
    
    display: inline-block;
  }
}@media( max-width: 603px)
{
  .left{
    width: 80%;
    font-size: 13px;
    display: inline-block;
  }
}
@media( max-width: 475px)
{
  .left{
    width: 80%;
    font-size: 13px;
    display: inline-block;
  }
}
.right{
    width:50%;
    float: right;
    height: auto;
   
}

@media(max-width: 1300px)
{
  .right{
    width: 80%;
    display: inline-block;
  }
}
@media( max-width: 475px)
{
  .right{
    margin: 10%;
    width: 80%;
    display: inline-block;
  }
}
p{
  font-size: 17px ;
}
@media( max-width: 600px)
{
  p{
    font-size: 13px;
  
  }
}
.nagranie{
  display: inline-block;
  margin-left: 30%;
  margin-right: 20%;
}


.gallery2{
  display: inline-block;
  margin-left: 20%;
   margin-top: 6%;
    
}



.tekst{
  background-color:rgba(173, 75, 152, 0.281);
  padding-top: 12%;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 7%;
  widows: 70%;
}



@media(max-width: 901px)
{
 .tekst{
  padding-left: 8%;
  padding-right: 8%;
  }
}


.opacity{
  background-color:rgba(173, 75, 152, 0.281);
  padding-top: 12%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 7%;
  height: auto;
  widows: 1357px;
}
.srodek{
   margin-top: -3%;
   margin-bottom: 3%;
   background-color:rgba(240, 228, 237, 0.804);
   padding: 3%;
   width: 98%;
   font-family: 'Gilory', sans-serif;
   
}


#galeria_koncert2{
  display: inline-block;
}

#tekst_koncert3{
  margin: 1%;
}
@media(max-width: 603px)
{
  #tekst_koncert3{
  font-size: 13px;
  }
}




 form{
     text-align: center;
     
     
 
    }



 .rectangle2{
    font-family: 'Bellota Text', cursive;
    font-size:17px;
    text-align: center;
    color:gray;
    padding: 2%;

}

 table{
     
     margin-top: 5%;
     margin-left: 15%;
     margin-right: 15%;
     font-family: 'Gilory', sans-serif;
     font-weight: 600;
     text-align: center;
     width: 70%;
     
 }

 @media(max-width: 1300px)
{
  table{
  width: 88%;
  margin-left: 6%;
  margin-right: 6%;
  }
}


@media(max-width: 901px)
{ table{
  width: 92%;
  margin-left: 4%;
  margin-right: 4%;
  
  }
}
@media( max-width: 475px)
{ table
  {
  width: 92%;
  margin-left: 4%;
  margin-right: 4%;
  }
}
@media( max-width: 411px)
{
  table{
    width: 92%;
  margin-left: 4%;
  margin-right: 4%;
  
  }
}

 tr{
 
     font-family: 'Gilory', sans-serif;
     position: relative;
     text-align: center;
     height: auto;
      
 }

 td{
  
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    
    
 }


   

 #article
 {
    margin-top: -8%;
    margin-bottom: 2%;
    position: relative;
    white-space: pre-wrap;
    font-family: 'Arial', sans-serif;
    font-size: 40px;
    
 }

 @media(max-width:900px){
  article{
    font-size: 13px;
  }
}
 @media(max-width: 400px)
{
  
}

 #sdm{
     
    background-image: url(pictures/koncert_sdm.png);
   
 }

 #fmt{
     
    background-image: url(pictures/fmt.jpg);
 }
 #kato{
     
    background-image: url(pictures/kato.jpg);
}
#sadecki_diament{
     
    background-image: url(pictures/sadecki_diament.jpg);
}
#galowy{
    background-image: url(pictures/nowy_sacz_styczen.jpg);
}
#krakow_uj_2018{
    
    background-image: url(pictures/mimo_wszystko.jpg);
}
#one_heart_festiwal{
    background-image: url(pictures/one_heart_festiwal.jpg);
}
#patriotyczny{
    background-image: url(pictures/patriotyczny.jpg);

}
#garda_1{
    background-image: url(pictures/grudzien_2019.jpg);

}
#garda_2{
    background-image: url(pictures/maj_2019.jpg);

}
#krakow_uj_2019{
    background-image: url(pictures/czerwiec_2019.jpg);

}
#krakow_styczen_2020{
    background-image: url(pictures/styczen_2020.jpg);
}

#nowy_sacz_marzec{
    background-image: url(pictures/marzec_2020.jpg);

}
#ksiezniczka{
    background-image: url(pictures/ksiezniczka.jpg);

}
#wirus{
    background-image: url(pictures/wirus.jpg);

}
#rmf{
    background-image: url(pictures/rmf.jpg);

}

.gallery-content {
  font-size: 0;
  letter-spacing: 0;
  line-height: 0;
  margin-bottom: 1rem;
  text-align: center;
}

.gallery-content a {
  background: no-repeat center / cover;
  border: 3px solid #737c85;
  display: inline-block;
  height: 120px;
  margin: 5px;
  width: 120px;
}

.gallery-content a:hover {
  border-color: #ffc000;
}

.compsoul-gallery-mask {
  background: rgba(0, 0, 0, 0.8);
  display: none;
  height: 100vh;
  left: 0rem;
  position: fixed;
  top: 0rem;
  width: 100vw;
  z-index: 999;
}

.compsoul-gallery-mask.active {
  display: block;
}

.compsoul-gallery-mask-before {
  height: 100vh;
  left: 0rem;
  position: fixed;
  top: 0rem;
  width: 100vw;
}

.compsoul-gallery-mask-before-button {
  background: #000;
  content: "";
  cursor: pointer;
  height: 4vw;
  right: 0rem;
  position: fixed;
  top: 0rem;
  width: 4vw;
  z-index: 1;
}

.compsoul-gallery-mask-before:after {
  color: #fff;
  content: "\f105\f104";
  cursor: pointer;
  font-family: "FontAwesome";
  font-size: 2vw;
  letter-spacing: -0.1875rem;
  line-height: 2vw;
  right: 2vw;
  position: fixed;
  top: 2vw;
  transform: translate(50%, -50%);
  z-index: 1;
}

.compsoul-gallery img {
  border: 0;
  clip: rect(0 0 0 0);
  height: 0.0625rem;
  margin: -0.0625rem; 
  overflow: hidden; 
  padding: 0;
  position: absolute; 
  width: 0.0625rem;
}

.compsoul-gallery .gallery-comment {
  background: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  bottom: 0;
  color: #fff;
  padding: 10px;
  position: absolute;
  width: 100%;
}

.compsoul-gallery-prev, .compsoul-gallery-next {
  background: #000;
  cursor: pointer;
  font-size: 0;
  height: 4vw;
  letter-spacing: 0;
  line-height: 0;
  right: 0rem;
  overflow: hidden;
  position: fixed;
  text-indent: 100%;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  width: 4vw;
  z-index: 1;
}

.compsoul-gallery-prev {
  left: 0rem;
}

.compsoul-gallery-prev:before, .compsoul-gallery-next:before {
  display: block;
  color: #fff;
  content: "\f105";
  font-family: "FontAwesome";
  font-size: 2vw;
  line-height: 4vw;
  height: 4vw;
  text-align: center;
  text-indent: initial;
  width: 4vw;
}

.compsoul-gallery-close:after {
  float: left;
  margin-left: 0.1875rem;
  text-align: right;
  width: 2vw;
}

.compsoul-gallery-prev:before {
  content: "\f104";
}

.compsoul-gallery-first-element, .compsoul-gallery-second-element {
  background: no-repeat center / cover;
  left: 50%;
  max-height: 90vh;
  max-width: 90vw;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s;
}

.compsoul-gallery-first-element.active {
  animation: active linear 0.4s forwards;
}

.compsoul-gallery-first-element.next, .compsoul-gallery-second-element.next {
  animation: next-of linear 0.4s forwards;
}

.compsoul-gallery-first-element.prev, .compsoul-gallery-second-element.prev {
  animation: prev-of linear 0.4s forwards;
}

.compsoul-gallery-first-element.next.active, .compsoul-gallery-second-element.next.active {
  animation: next linear 0.4s forwards;
}

.compsoul-gallery-first-element.prev.active, .compsoul-gallery-second-element.prev.active {
  animation: prev linear 0.4s forwards;
}

.compsoul-gallery-loader {
  opacity: 0;
}

.compsoul-gallery-loader.active {
  animation: active linear 0.4s forwards 0.4s;
}

.compsoul-gallery-loader.none {
  animation: none;
  transition: opacity 0.4s;
}

.compsoul-gallery-loader:before, .compsoul-gallery-loader:after {
  animation: turn linear 1s infinite;
  border: solid #fff;
  border-radius: 100%;
  content: "";
  display: block;
  height: 2rem;
  left: 50%;
  margin: -1rem 0 0 -1rem;
  position: fixed;
  top: 50%;
  width: 2rem;
}

.compsoul-gallery-loader:before {
  border-width: 0 0.125rem 0.125rem 0;
}

.compsoul-gallery-loader:after {
  animation-direction: reverse;
  border-width: 0.125rem 0 0 0.125rem;
  height: 4rem;
  margin: -2rem 0 0 -2rem;
  width: 4rem;
}

@keyframes active {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  } 
}

@keyframes next {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  } 
}

@keyframes next-of {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    transform: translate(-100%, -50%);
  }
}

@keyframes prev {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  } 
}

@keyframes prev-of {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    transform: translate(0%, -50%);
  } 
}

@keyframes turn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  } 
}
  .selector-for-some-widget {
    box-sizing: content-box;
  }

  .citation{
    font-family: 'Gilory', sans-serif;
    text-align: center;
    position: relative;
  }
  @media(max-width:900px){
    .citation{
      font-size: 12px;
    }
  }
  .author{
    font-family: 'Gilory', sans-serif;
    text-align: center;
    color: rgba(173, 75, 152) ;
  }
  @media(max-width:900px){
    .author{
      font-size: 10px;
    }
  }
  
#zobacz{
  text-align: center;
  padding-top: 0%;
  padding-bottom: 0%;

}
@media(max-width:900px){
  #zobacz img{
     width: 30%;
height: auto;   
  }
}
@media(max-width:700px){
  #zobacz img{
     width: 50%;
height: auto;   
  }
}

h1{
  margin-left: 12%;
  margin-right: 12%;
  font-size: 20px;
}
@media(max-width: 600px){
  h1{
    font-size: 15px;
    margin:3%;
    width:auto;
  }
 }

input{
  float: left;
  width: 30%;
  margin-top: 1%;
  margin-right: 12%;
  margin-left: 12%;
}
textarea{
  float: left;
  margin-top: 1%;
  margin-right: 12%;
  margin-left: 12%;
  width: 30%;
}

#submit{
  width: 10%;
}
#wyslane{
  text-align: center;
  margin-left: 40%;
  margin-right: 40%;
}
#blad{
  text-align: center;
  margin-left: 40%;
  margin-right: 40%;
}
#wypelnij{
  margin-left: 40%;
  margin-right: 40%;
}

